<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Code Sets"
            id="ca.ucalgary.codesets">
      </category>
      <view
            name="Code Sets"
            icon="icons/sample.gif"
            category="ca.ucalgary.codesets"
            class="ca.ucalgary.codesets.views.CodeSetView"
            id="ca.ucalgary.codesets.views.CodeSetView">
      </view>
      <view
            name="Group Selection"
            icon="icons/sample.gif"
            category="ca.ucalgary.codesets"
            class="ca.ucalgary.codesets.views.SelectionView"
            id="ca.ucalgary.codesets.views.SelectionView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="ca.ucalgary.codesets.views.CodeSetView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
